img {
    width: 100px;
}
.restart {
    display: none;
}
.text {
    display: none;
}
.text2 {
    display: none;
}
.betN {
    display: none;
}
.betA {
    display: none;
}
.betBtn {
    display: none;
}